<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Log in</h5>
        <p class="card-text">
        <form class="form login-form">
          <div class="form-group">
            <label for="email-login">email:</label>
            <input class="form-input float-end" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Go</button>
          </div>
        </form>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sign up</h5>
        <p class="card-text">
        <form class="form signup-form">
          <div class="form-group">
            <label for="name-signup">name:</label>
            <input class="form-input" type="text" id="name-signup" />
          </div>
          <div class="form-group">
            <label for="email-signup">email:</label>
            <input class="form-input" type="text" id="email-signup" />
          </div>
          <div class="form-group">
            <label for="password-signup">password:</label>
            <input class="form-input" type="password" id="password-signup" />
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Go</button>
          </div>
        </form>
        </p>
      </div>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>