<div class="row">
  <div class="col-12-md">
    <h2 class="text-center">{{name}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="article">
      {{description}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="created">Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
</div>
