main {
  margin-top: 15px;
}

.navbar {
  background-color: midnightblue;
  color: white;
}

.navbar-brand {
  color: #eeeeee;
}

.nav-link {
  color: #eeeeee;
}

.card {
  margin: 15px 0px;
}

.card-header {
  background-color: aliceblue;
  color: black;
}

.card-title {
  margin-bottom: 0;
}

.form-input {
  width: 100%;
}

.btn-success {
  margin: 5px 0px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
